.infobtn
{
    -fx-background-radius: 5em;
    -fx-background-color: linear-gradient(to bottom right, palegreen, lightslategrey);
}

.logoBg
{
    -fx-background-color: linear-gradient(to bottom, cyan, lightsteelblue);
}

.pane
{
    -fx-background-color: linear-gradient(to bottom, wheat, whitesmoke);
}


.slider .track {
    -fx-background-color: lightsteelblue;
}

.slider .thumb {
    -fx-background-color: #ffcccc;
}

